* {
    font-family:"tempus sans itc";    
}
div.outmost {
    width:960px;
    margin: 0px auto;
}
div.page {
    width:960px;
    
    margin:0px auto;
}
h1 {
    font-size:1.5em;
}
h2{
    font-size:1.3em;
}
div#description {
    width:70%
}
div.clear {
    clear:both
}
div.field-title {
    width:150px;
    //font-weight:bold;
    display:inline;
    float:left
}
div.field {
    float:left
}
div.forms {
    margin-top:20px;
    
}

div.tab-menuitem {
    border:1px solid #888;
    padding:10px 30px;
    font-weight:bold;
    height:25px;
}
#logo {
    width:80px
}

table {
    border:0px
}
.state-highlight {
    background-color: #CCC
}
.state-hover {
    background-color: #EEE
}




/** form fields */
input[type=password], select, input[type=text] {
  padding:2px 4px;
  font-size:1.1em;
  height:25px;
}
button {
  height:35px;
  width:100px;
  font-size:1.2em;
}

.page1{
    margin:10px auto;
    padding:10px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
   
    border: solid 1px #555;
    color: #444;
    display: block;
    font-size: 13px;
    line-height: normal;
    outline-color: #444;
    outline-style: none;
    position: relative;
    vertical-align: baseline;
    width: 80%;
    background-color: #F4F4F4;
    background-color: #F4F4F4;
    
}

.box {
   padding:10px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   
    width:760px;    
    //height:620px;
    margin:auto;
    display:block;
        
    
    //background-image:url('images/grass-bg.png');
    background: #83A6D4;
    background: #C0C02A;
    background: #B0E0E9;
    background: #92B3DE;
    background-position:100% 100%;
    background-repeat:no-repeat;
    position:relative;
    
        -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 3px 3px 5px #999;
       box-shadow: 5px 5px 5px  #999;
}

.page{
    margin:10px auto;
    padding:15px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    
  
    border: solid 1px #555;
    color: #444;
    display: block;
    font-size: 13px;
    line-height: normal;
    outline-color: #444;
    outline-style: none;
    position: relative;
    vertical-align: baseline;
    width: 80%;
    background-color: #F4F4F4;
    background-color: #F4F4F4;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;    
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 3px 3px 5px #999;
    box-shadow: 5px 5px 5px  #999;
}

.floating {
	float:left	
}

.form-fieldset {
	padding:8px 0px;
	
}


/**calendar */
#calendar table {
    border:1px solid #CCC;
    width:600px;
}
#calendar td  {
    border:1px solid #CCC;
    height:10px;
    width:12%;
    font-size:0.8em;
    padding:2px;
}
td.slot{
  cursor:pointer
}
#legend td {
  border:0px;
  height:15px;
  font-size:0.8em;
}
table#legend {
  border:0px
}
.calendar-buyer {
    background-color:lightgreen
}
.calendar-seller {
    background-color:lightblue
}
.calendar-buyer.calendar-seller {
    background-color:orange
} 
.calendar-confirmed {
    background-color:#5FDB2E
}
.inline {
  padding:1px 5px;
  border:1px solid #CCC;
  width:100px;
  display:block;
  float:left;
  margin:2px 5px;
}
li {
  list-style-type:none;
  padding:2px 5px;
  float:clear
}
#buyer-options li {
  cursor:pointer;
}


.post-title {
	padding:10px
}

.instructions {
  font-size:0.9em;
  padding:0px 10px;
  
}



img.shadow {
	
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}