{% extends "root.html" %} 

{% block main %}
<style>
.testlink {
    display:block;
    padding:15px;
    font-size:1.2em;    
}
</style>
  
<div class="page howitworks"> 

    <h2> {{ app.name }}  is a free community tool designed to facilitate local sell/buy experience.  </h2>

    <!--  Shortcuts -->
    <a class="testlink" href="/3380084942/view">Buyer clicks "View" or "Move Info" link</a>
   
    <a class="testlink" href="/3380084942/activate">Seller clicks the link in the campaign email</a>
    
    <a class="testlink" href="/pages/sdash.html">Seller Dash</a>
        
    
    </ul>

</div> <!--  end page -->

{% endblock %}
