{% extends "root.html" %} 

{% block main %}
 <div class="clear"></div>
 
 <div class="ui-widget" id="search-box" align="center">
  <h1>Home</h1>                   
           <input id="searchtxt"  class="ui-autocomplete-input bgcolor"></input>
              <!-- 
              <input class="ui-autocomplete-input"/>
               <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all">
                 <li class="ui-menu-item">
                   <a class="ui-corner-all">item 1</a>
                 </li>                          
               </ul>
                -->    
           
           <button id="search-btn" class="rounded">  &nbsp;&nbsp;GO &nbsp;&nbsp;</button>               
  </div>


{% endblock %}